<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <div style="display: flex; flex-direction: column; align-items: center; font-family: Arial">

      <div style="flex: 33.33%">
        <h2 style="text-align: center">Opponent</h2>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center">

          {% if show == 1 %}
          <form method="POST" action="">
            {{ opponentForm.hidden_tag() }}
            {{ opponentForm.csrf_token }}
            <div class= "form-group" style="margin-top: 20px">
              {{ opponentForm.submit}}
            </div>
          </form>
          {% endif %}

          {% for card in opponentDeck %}
            <div style="border-radius: 10px; margin-left: 10px; margin-right: 10px; border-style: solid; padding: 10px; border-width: 1; border-color: black; display: flex; flex-direction: column; align-items: center; justify-content: center">
                <img style="max-height: 150px" src={{ url_for('static', filename=card.headshot) }}>
                <h1 style="font-size: 18px; margin: 1px; margin-top: 5px">{{ card.name }}</h1>
                <p style="font-size: 14px; margin: 1px">HP: {{ card.hp }}</p>
            </div>
          {% endfor %}

        </div>
      </div>

      <div style="margin-top: 20px; flex: 33.33%; height: 100%">
        <h2 style="text-align: center">{{message}}</h2>
      </div>

      <div style="flex: 33.33%">
        <h2 style="text-align: center">{{ name }}</h2>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center">
          {% for card in deck %}
            <div style="border-radius: 10px; margin-left: 10px; margin-right: 10px; border-style: solid; padding: 10px; border-width: 1; border-color: black; display: flex; flex-direction: column; align-items: center; justify-content: center">
                <img style="max-height: 150px" src={{ url_for('static', filename= card.headshot) }}>
                <h1 style="font-size: 18px; margin: 1px; margin-top: 5px">{{ card.name }}</h1>
                <p style="font-size: 14px; margin: 1px">HP: {{ card.hp }}</p>
            </div>
          {% endfor %}

        </div>
        
        {% if show == 0  %}
        <form method="POST" action="">
          {{ form.hidden_tag() }}
          {{ form.csrf_token }}
          <div class="form-field" style="margin: 5px">{{ form.first.label }} {{ form.first }}</div>
          <div class="form-field" style="margin: 5px">{{ form.second.label }} {{ form.second }}</div>
          <div class= "form-group" style="margin-top: 20px">
            {{ form.submit}}
          </div>
        </form>
        {% endif %}





      </div>


    </div>
  </body>

</html>
