<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <div style="display: flex; flex-direction: column; align-items: center; font-family: Arial">
      <img style="" src={{ url_for('static', filename='logo.png') }}>
      <div style="display: flex; flex-direction: row; margin-bottom: 20px; align-items: center; justify-content: center">
        <div style="margin-right: 10px; display: flex; flex-direction: column; align-items: center">
          <img style="max-height: 400px" src={{ url_for('static', filename='harrison.png') }}>
          <p>I'm your host, Chris Harrison</p>
        </div>
        <iframe style="margin-left: 10px" width="560" height="315" src="https://www.youtube.com/embed/OGLOJ-nGs00" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <button style="border-radius: 40px; width: 150px; font-size: 20px; padding: 10px; background-color: #bf121b; color: white; border: none; margin-bottom: 50px" type = "button" onclick = "window.location.href = '{{url_for('char_select')}}';">START</button>
    </div>
  </body>

</html>
